<div class="w-50 mx-auto">
  <%= link_to @category, :class => "text-white" do %>
    <i class="fas fa-chevron-left text-secondary"><span class="back-btn"> Back</span></i>
  <% end %>
</div>

<div class="card border-secondary text-dark w-50 mx-auto mt-3">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>