@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap);

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

.header-logo {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
}

.form-control.is-valid {
  border: 1px solid #ced4da !important;
  background-image: none;
}

.form-control.is-valid:focus {
  box-shadow: none;
}

.alert {
  margin-bottom: 0;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: white;
}

a {
  text-decoration: none;
}

.btn-create {
  color: black;
  font-weight: 500;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 3;
}

.category-btn {
  display: inline;
}

.back-btn {
  font-family: sans-serif;
  font-weight: 400;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.alert-fixed {
  position: fixed;
  right: 42%;
  z-index: 9999;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 700px) {
  .hero-img {
    display: none;
  }

  .alert-fixed {
    right: 24%;
  }
}
