<div class="w-75 mx-auto">
  <div class="row p-2 p-md-5 mb-4 text-white rounded bg-dark text-center">
    <div class="col-md-6 col-sm-12 hero-text">
      <h1 class="display-4 fst-italic">
        All your tasks, <br>
        in one place.
      </h1>
      <%= link_to "Log in", "/users/sign_in", class: "btn btn-primary my-3" %><br />
    </div>
    <div class="col-md-6 col-sm-12 hero-img">
        <img src=<%=asset_path("blogging.gif")%> height="280"/>
    </div>
  </div>
</div>